@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

.animate-marquee {
    animation: marquee 20s linear infinite;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    margin: 0 2px;
}

.pagination p {
    display: inline-block;
    padding: 8px 15px;
    border: 1px solid #cccc;    
    text-decoration: none;
    color: black;
}

.pagination p:hover {
    background: #eee;
}

.pagination li.activerPagination {
    background: #6E3640;    
    color: white;
}

.active-button {
    color: #6E3640;
}

/* Add this in your global CSS or Tailwind configuration */
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
}