/* Footer Styles */
.footer-2 {
  background-color: #f0d7c9; /* Background color */
  padding: 10px 0;
  color: black; /* Text color */
  text-align: center; /* Center all content */
}

.footer-2 a {
  color: black;
  text-decoration: none;
}

.footer-2 a:hover {
  color: #ffcccc; /* Hover color */
}

.footer-btm {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.09);
}

.footer-btm .list-inline {
  margin-bottom: 0;
  padding-left: 0;
}

.footer-btm .list-inline-item {
  display: inline-block;
  margin: 0 10px;
}

.footer-btm .list-inline-item a {
  color: black;
}

.footer-btm .list-inline-item a:hover {
  color: #ffcccc;
}

.sidebar-widget {
  margin-bottom: 30px;
}

.follow-socials {
  display: flex;
  justify-content: center; /* Center icons */
  gap: 15px; /* Space between icons */
  margin-top: 10px; /* Space between header and icons */
}

.follow-socials a {
  font-size: 24px;
  color: rgb(174, 39, 39); /* Social icon color */
}

.follow-socials a:hover {
  color: #ad5959; /* Hover color for icons */
}

.copyright {
  font-size: 14px;
  padding-top: 20px;
  text-align: center; /* Center copyright text */
}

@media (max-width: 575px) {
  .footer-home {
    padding-left: 0px;
  }
}

@media (max-width: 400px) {
  .footer-home {
    padding-left: 0px;
  }
}

@media (max-width: 767px) {
  .footer-home {
    padding-left: 0px;
  }
}

@media (max-width: 991px) {
  .footer-home {
    padding-left: 0px;
  }
}
