.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  background-color: #6E3640;
  color: white;
  align-items: center; /* Align items vertically */
  font: semi-bold; /* Makes the text bold */
  font-size: 16px; 
}
.logo-img {
  width: 150px; /* Adjust this as needed */
  height: 50px; /* Maintains the aspect ratio */
  border-radius: 10px;
}


.nav-links {
  display: flex;
  align-items: center; /* Vertically center the items */
}

.nav-links a {
  margin: 0 15px;
  text-decoration: none;
  color: white;
}

.nav-links a:hover {
  color: #dc2626;
}

.nav-links .left-links {
  display: flex;
  gap: 15px; /* Adds space between left side links */
}

.nav-links .login-link {
  margin-left: auto; /* Pushes the login link to the far right */
  padding-left: 50px; /* Adds a large gap between the last left link and Login */
}

